@using PratamaHotel.Models;

@model List<Guest>;

@{
    ViewData["Title"] = "Guest";
    Layout = "_AdminLayout";
}

<div id="PlaceHolderHere"></div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h4 class="">GUEST DATA</h4>
                <p class="card-description">
                    (Data tamu)
                </p>
            </div>
            <div>
                <a class="btn btn-primary btn-rounded ti-plus" href="Guest/Create"> Add</a>
            </div>
        </div>
        <div class="table-responsive">
            @if (Model.Any())
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Alamat</th>
                            <th>Nomor Identitas</th>
                            <th>Telepon</th>
                            <th>Email</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.name</td>
                                <td>@item.address</td>
                                <td>@item.idCardNumber</td>
                                <td>@item.phoneNumber</td>
                                <td>@item.email</td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.id" class="btn btn-success w-25 p-2 ti-pencil-alt"></a>
                                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger w-25 p-2 ti-trash"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-center">
                    <p>Data kosong / Tidak ada data untuk ditampilkan!</p>
                </div>
            }
        </div>
    </div>
</div>
